@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #bbb4eb;
}

body,
.container,
.overlay,
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: rgb(252, 254, 253); 
    overflow: hidden;
}
.container.active {
    background-color: #000;
}

.container::before {
    content: "";
    position: absolute;
    height: 560px;
    width: 560px;
    background-image: conic-gradient(transparent,transparent,transparent, #fff);
}

.container.active::before {
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.container .overlay {
    position: absolute;
    height: 335px;
    width: 335px;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    border-radius: 50%;
    background-color: green;
}


.container.active .overlay {
    background-color: red;
}

.container.active .overlay {
    animation-name: colorFul;
    animation-duration: 10s;
}

@keyframes colorFul {
    0% {
        background-color: red;
    }

    50% {
        background-color: rgb(213, 213, 45);
    }

    100% {
        background-color: green;
    }
}